body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.logo-text {
    color: #2947A9;
    font-size: 30px;
}

.header-container {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container-left {
    display: flex;
    margin-left: 20px;
    gap: 10px;
}

.header-container-right {
    display: flex;
    text-align: right;
    gap: 30px;
    padding-right: 20px;
}

.navigation {
    text-decoration: none;
    color: #14171F;
    font-size: 18px;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.image-text {
    font-size: 72px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 60px;
    color: #292E3D;
    transform: translateY(-50%);
}

.hero-projects {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 420px;
    height: 150px;
    text-align: center;
    background-color: #3559C7;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
}

.btn-back, .btn-next {
    flex: 1;
    background-color: #292E3D;
    width: 50%;
    color: #ffff;
    padding: 6px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.btn-back {
    border-right: 1px solid white;
}

.btn-next {
    border-left: 1px solid white;
}

.uni-arch {
    color: #ffff;
    font-weight: 300;
}

.feature-projects {
    color: #ffff;
    font-weight: bold;
    font-size: 20px;
}

.contact-color {
    color: #F9995D;
}

.reputation-text {
    color: #292E3D;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-top: 50px;
}

.card-holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    max-width: 1200px;
    margin: 50px auto 0;
    padding: 0 40px;
}

.border-reasons {
    border: 1px solid #E0E3EB;
    border-radius: 4px;
    padding: 30px;
}

.reasons-title {
    font-size: 20px;
    color: #000000;
    font-weight: bold;
}

.reasons-text {
    color: #858EAD;
    font-size: 16px;
}

.about-us-photo {
    display: block;
}

.about-us-holder {
    position: absolute;
    top: 13%;
    right: -300px;
    padding: 50px;
    padding-top: 20px;
    background-color: #2947A9;
    color: white;
}

.photo-container {
    position: relative;
    display: inline-block;
    margin-top: 5%;
    margin-left: 10%;
}

.about-us-title {
    font-weight: bold;
    font-size: 36px;
}

.about-us-text {
    font-weight: 300;
    font-size: 20px;
}

.button-about-us {
    padding: 10px 29px;
    color: #2947A9;
    font-weight: 500;
    margin-top: 10px;
    font-size: 18px;
}

.button-about-us:hover {
    cursor: pointer;
}
