body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.logo-text {
    color: #2947A9;
    font-size: 30px;
}

.header-container {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container-left {
    display: flex;
    margin-left: 20px;
    gap: 10px;
}

.header-container-right {
    display: flex;
    text-align: right;
    gap: 30px;
    padding-right: 20px;
}

.navigation {
    text-decoration: none;
    color: #14171F;
    font-size: 18px;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.image-text {
    font-size: 72px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 60px;
    color: #292E3D;
    transform: translateY(-50%);
}

.hero-projects {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 420px;
    height: 150px;
    text-align: center;
    background-color: #3559C7;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
}

.btn-back, .btn-next {
    flex: 1;
    background-color: #292E3D;
    width: 50%;
    color: #ffff;
    padding: 6px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.btn-back {
    border-right: 1px solid white;
}

.btn-next {
    border-left: 1px solid white;
}

.uni-arch {
    color: #ffff;
    font-weight: 300;
}

.feature-projects {
    color: #ffff;
    font-weight: bold;
    font-size: 20px;
}

.contact-color {
    color: #F9995D;
}

.reputation-text {
    color: #292E3D;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-top: 50px;
}

.card-holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    max-width: 1200px;
    margin: 50px auto 0;
    padding: 0 40px;
}

.border-reasons {
    border: 1px solid #E0E3EB;
    border-radius: 4px;
    padding: 30px;
}

.reasons-title {
    font-size: 20px;
    color: #000000;
    font-weight: bold;
}

.reasons-text {
    color: #858EAD;
    font-size: 16px;
}

.about-us-photo {
    display: block;
}

.about-us-holder {
    position: absolute;
    top: 13%;
    right: -300px;
    padding: 50px;
    padding-top: 20px;
    background-color: #2947A9;
    color: white;
}

.photo-container {
    position: relative;
    display: inline-block;
    margin-top: 5%;
    margin-left: 10%;
}

.about-us-title {
    font-weight: bold;
    font-size: 36px;
}

.about-us-text {
    font-weight: 300;
    font-size: 20px;
}

.button-about-us {
    padding: 10px 29px;
    color: #2947A9;
    font-weight: 500;
    margin-top: 10px;
    font-size: 18px;
}

.button-about-us:hover {
    cursor: pointer;
}


.services-title {
    text-align: center;
    padding-top: 50px;

}

.services {
    background-color: #F6F8F7;
    padding-bottom: 50px;
}

.card-holder {
    display: grid;
    text-align: center;
}

.construction, .consultation, .architecture {
    background-color: #ffff;
    color: #2947A9;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
}

.construction img, .consultation img, .architecture img, .renovation img, .repair img, .electric img {
    border-bottom: 3px solid #E0E3EB;
    padding: 10px;
}

.renovation, .repair, .electric {
    background-color: #2947A9;
    color: #ffff;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
}

.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 30px;
    direction: rtl;
}

.stat-item {
    direction: ltr;
}


.left-border-stats {
    display: inline-block;
    border-left: 4px solid #F9995D;
    color: #667299;
    padding-left: 10px;
    margin: 10px;
    padding-bottom: 10px;
}

.stat-card {
    max-width: 250px;
    box-shadow: 5px 5px 5px 5px #d8dbd8;
}

.number {
    color: #292E3D;
    font-weight: 500;
    font-size: 40px;
    margin: 0;
    padding: 10px;
}

.adds {
    position: relative;
}

.adds-image {
    margin-top: 20px;
    width: 100%;
    display: block;
}

.adds-text {
    position: absolute;
    top: 100px;
    left: 100px;
    color: #ffff;
    font-weight: 500;
    font-size: 40px;
}

.adds-phone {
    text-decoration: underline;
}

.call {
    font-weight: 300;
    font-size: 20px;
    top: 250px;
}

.btn-consultation {
    position: absolute;
    color: white;
    right: 60px;
    top: 150px;
    padding: 25px;
    border: 2px solid white;
    background-color: transparent;
    transition: transform 0.3s;
}

.btn-consultation:hover {
    cursor: pointer;
    transform: scale(1.2);
    border-radius: 6px;
}

.navigation-projects {
    border-left: 3px solid transparent;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #C2C7D6;
    padding-bottom: 20px;
    width: fit-content;
}

.nav-all {
    border-left: 3px solid #2947A9;
    padding-left: 10px;
    color: #2947A9;
    font-size: 18px;
    font-weight: bold;
}

.nav-container-projects {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.photo-text {
    max-width: 364px;
    background-color: #2947A9;
    color: #ffff;
    margin-top: 0;
    padding: 10px;
}

.project-card {
    display: grid;
    grid-template-rows: auto auto;
}

.cta {
    background-color: #F6F8F7;
}

.cta-title {
    text-align: center;
}

.cta-text {
    text-align: center;
}


.required {
    color: red;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
    margin: 0 auto;
}

.form-padding {
    padding-bottom: 20px;
}

.area {
    text-align: center;
    padding-top: 10px;
}

.btn-submit {
    display: block;
    background-color: #2947A9;
    border-radius: 2px;
    color: white;
    padding: 15px 40px;
    border: none;
    margin: 0 auto;
    margin-top: 10px;
}

.btn-submit:hover {
    cursor: pointer;
}


.footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

}

.footer-blue {
    color: #2947A9;
}

.footer-right img {
    width: 30px;
}

.last-footer {
    background-color: #2947A9;
    color: white;
    height: 60px;
}

.last-footer-text {
    margin-left: 20%;
    padding-top: 20px;
}